<template>
  <v-app id="inspire">
    <main>

      <v-app-bar
        app
        color="indigo"
        dark
      >
        <v-toolbar-title>Calculus Solver</v-toolbar-title>
      </v-app-bar>

      <v-content>
        <v-container
          class="fill-height"
          fluid
        >

          <v-row
            align="start"
            justify="center"
            style="height: 100px;"
          >

            <v-btn v-on:click="addToFormula('\\sqrt{}');">&radic;</v-btn>
            <v-btn class="text-lowercase" v-on:click="addToFormula('\\pi ');">&pi;</v-btn>

            <v-menu
              v-model="menu1"
              :close-on-content-click="false"
              :nudge-width="200"
              offset-x
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  color="indigo"
                  dark
                  v-on="on"
                >
                  <b>&ne; &le; &ge;</b>
                </v-btn>
              </template>

              <v-card>

                <v-list>

                  <v-list-item>
                    <v-btn v-on:click="addToFormula('\\neq');">&ne;</v-btn>
                    <v-btn v-on:click="addToFormula('\\leq');">&le;</v-btn>
                    <v-btn v-on:click="addToFormula('\\geq');">&ge;</v-btn>
                  </v-list-item>

                </v-list>

              </v-card>

            </v-menu>

          </v-row>

          <v-row
            align="baseline"
            justify="center"
            style="height: 100px;"
          >
            <vue-mathjax id="mathjax" :formula="pretty"></vue-mathjax>
          </v-row>

          <v-row
            align="baseline"
            justify="center"
            style="height: 100px;"
          >
            <v-col>
              <v-text-field
                clearable
                id="formula_input"
                v-model="formula"
                label="Enter equation"
                :append-icon="'mdi-check color=green'"
                v-on:keyup="updatePrettyPrint"
                v-on:keyup.enter="sendJSON"
                v-on:click:clear="clearInput"
                v-on:blur="deselectInput"
                v-on:click:append="sendJSON"
              >
              </v-text-field>
            </v-col>

          </v-row>

          <v-row
            align="start"
            justify="center"
            style="height: 100px;"
          >

            <v-menu
              v-model="importMathmlMenu"
              :close-on-content-click="false"
              :nudge-width="350"
              offset-x
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  color="indigo"
                  dark
                  v-on="on"
                >
                  <b>Import MathML</b>
                </v-btn>
              </template>

              <v-card>

                <v-list>
                  <v-row>
                    <v-col
                      md="12"
                    >
                      <v-textarea
                        filled
                        no-resize
                        height="300"
                        label="MathML"
                        ref="importMathMLText"
                        v-model="importMathMLText"
                      >
                      </v-textarea>
                    </v-col>
                  </v-row>

                </v-list>

                <v-list>
                  <v-col>
                    <v-btn v-on:click="importMathML">Import</v-btn>
                  </v-col>
                </v-list>

              </v-card>

            </v-menu>

            <v-col md="1"></v-col>

            <v-menu
              v-model="mathmlMenu"
              :close-on-content-click="false"
              :nudge-width="350"
              offset-x
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  color="indigo"
                  dark
                  v-on="on"
                  v-on:click="updateMathML"
                >
                  <b>View MathML</b>
                </v-btn>
              </template>

              <v-card>

                <v-list>
                  <v-row>

                    <v-col
                      md="12"
                    >
                      <v-textarea
                        filled
                        no-resize
                        readonly
                        height="300"
                        label="MathML"
                        v-model="mathml"
                      >
                      </v-textarea>
                    </v-col>
                  </v-row>

                </v-list>

                <v-list>
                  <v-col>
                    <v-btn v-on:click="copyMathML2Clipboard">Copy to Clipboard</v-btn>
                  </v-col>
                </v-list>

              </v-card>

            </v-menu>

          </v-row>

          <v-container v-show="answer">

            <v-row
              align="start"
              justify="center"
            >
              Answer: {{ answer }}
            </v-row>

            <v-row
              align="start"
              justify="center"
            >

              <v-col cols=6>

                <v-expansion-panels>
                  <v-expansion-panel>
                    <v-expansion-panel-header>Syntax Tree</v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-textarea filled
                        no-resize
                        readonly
                        height="300"
                        v-model="tree">
                      </v-textarea>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>

              </v-col>

            </v-row>

          </v-container>

          <v-row
            align="start"
            style="height: 50px;"
          >
            <v-col>
              <h3><u>Variables</u></h3>
            </v-col>
          </v-row>

          <div id="variablesDiv" v-show="variables.length">

            <v-row align="start" style="height:50px">
              <v-col cols=2>
                Name
              </v-col>

              <v-col cols=2 offset=3>
                Value
              </v-col>
            </v-row>

            <div v-for="(variable, index) in variables" :key="index">
              <v-row>
                <v-col cols=4>
                  <v-text-field autocomplete="off" autofill="off" single-line v-model="variable.name"></v-text-field>
                </v-col>
                <v-col cols=4 offset=1>
                  <v-text-field autocomplete="off" autofill="off" single-line v-model="variable.value"></v-text-field>
                </v-col>
                <v-col>
                  <v-btn class="mx-2" fab dark small color="indigo" v-on:click="deleteRow(index)">
                    <v-icon dark>mdi-minus</v-icon>
                  </v-btn>
                </v-col>
              </v-row>

            </div>

          </div>

          <v-row
            align="start"
            style="height: 100px;"
          >
            <v-col>
              <v-btn class="mx-2" fab dark color="indigo" v-on:click="addRow">
                <v-icon dark>mdi-plus</v-icon>
              </v-btn>
            </v-col>

          </v-row>


        </v-container>
      </v-content>
    </main>
  </v-app>
</template>

<script>
  /*global TapDigit:true */

  export default {
    props: {
      source: String,
    },
    data: () => ({
      formula: 'x = {-b + \\sqrt{b^2-4ac} \\over 2a}',
      pretty: '$$x = {-b + \\sqrt{b^2-4ac} \\over 2a}$$',
      mathml: "<math xmlns=\"http://www.w3.org/1998/Math/MathML\" display=\"block\"><mi>x</mi><mo>=</mo><mrow class=\"MJX-TeXAtom-ORD\"><mfrac><mrow><mo>&#x2212;</mo><mi>b</mi><mo>+</mo><msqrt><msup><mi>b</mi><mn>2</mn></msup><mo>&#x2212;</mo><mn>4</mn><mi>a</mi><mi>c</mi></msqrt></mrow><mrow><mn>2</mn><mi>a</mi></mrow></mfrac></mrow></math>",
      cursor_pos: 39,
      output: [],
      drawer: null,
      menu1: null,
      menu2: null,
      mathmlMenu: null,
      importMathmlMenu: null,
      importMathMLText: "",
      parseId: null,
      eqnJson: {},
      variables: [],
      answer: null,
      tree: null
    }),
    methods: {
      /**
        Adds $$ to the start and end of the formula and stores it in the pretty variable. This is needed for MathJax to process the LaTex
        @function
      **/
      updatePrettyPrint() {
        this.pretty = "$$" + this.formula + "$$"
      },
      /**
        Adds a string to the formula in the appropriate place based on the cursor position. Then updates the pretty print.
        @function

        @param {string} str - LaTeX string to be added to the formula box.
      **/
      addToFormula(str){
        //Need to check if this.formula is null as default clear behaviour of vuetify resets variables to null.
        if(this.formula === null){ this.formula = ''}

        let beforeCursor = this.formula.substring(0, this.cursor_pos)
        let afterCursor = this.formula.substring(this.cursor_pos, this.formula.length)

        let newFormula = beforeCursor + str + afterCursor

        this.formula = newFormula

        this.cursor_pos += str.length

        this.updatePrettyPrint()
      },
      /**
        Called when the formula bot is cleared, resets the formula variable, pretty print, and cursor position.

        @function
      **/
      clearInput(){
        this.formula = ""
        this.cursor_pos = 0
        this.updatePrettyPrint()
      },
      /**
        When deselecting the formula input, store the position of the cursor.
        @function
      **/
      deselectInput(){
        this.cursor_pos = document.getElementById('formula_input').selectionStart
      },
      /**
        Called when the formula is submitted to be evaluated. Updates the MathML variable and calls stringify.
        @function
      **/
      sendJSON(){
        this.updateMathML()
        this.stringifyMathML()
      },
      /**
        Updates the MathML variable by getting the mathjax display object.
        @function
      **/
      updateMathML(){
        let mathjax = document.getElementById('mathjax')

        this.mathml = mathjax.childNodes[1].firstChild.dataset.mathml
      },
      /**
        Copies the MathML Output to the user's clipboard.
        @function
      **/
      copyMathML2Clipboard(){
        //Create a dummy textarea element.
        let dummy = document.createElement("textarea")
        //Adds the dummy element to the HTML document
        document.body.appendChild(dummy)
        //Sets the value of the dummy element to the mathml variable.
        dummy.value = this.mathml
        //Select the dummy element and run the copy command to put the value into the user's clipbord.
        dummy.select()
        document.execCommand("copy")
        //Remove the dummy element.
        document.body.removeChild(dummy)
      },
      /**
        Loads an XML document from a given updatePrettyPrint
        @function
        @param {string} filename - The URI of a XML document to be loaded.
      **/
      loadXMLDoc(filename){
        //Create a new XMLHttpRequest instance.
        let xhttp = new XMLHttpRequest();
        //GET request for the file.
        xhttp.open("GET", filename, false);
        xhttp.send("");
        //Returns the XML doc.
        return xhttp.responseXML;
      },
      /**
        Called when importing MathML, converts the supplied MathML into LaTeX, adds it to the main entry box and updates the pretty print.
        @function
      **/
      importMathML(){
        //Create new DOMParser
        let parser = new DOMParser();
        //Get the MathML to TeX stylesheet
        let xsl = this.loadXMLDoc("./xslt/mmltex.xsl")
        //Converts the string from the textarea into an xml object
        let xml = parser.parseFromString(this.importMathMLText, "text/xml");
        //Sets up an XSLTProcessor and imports the stylesheet
        let xsltProcessor = new XSLTProcessor();
        xsltProcessor.importStylesheet(xsl);
        //Runs the XSLTProcessor over the XML object into a document object
        let resultDocument = xsltProcessor.transformToFragment(xml, document);

        //Gets the text conetent of the document object
        let latex = resultDocument.textContent
        //Remove unneeded start and end \[ & \]
        latex = latex.slice(5, latex.length-2)

        //Sets the formula to the latex
        this.formula = latex
        //Sets the cursor position to the length of the latex
        this.cursor_pos = latex.length
        //Calls updatePrettyPrint
        this.updatePrettyPrint()
      },
      /**
        Recursive Descent Parser used to parse MathML into an intermediate ASCIIMath to then be passed to parser and evaluator.
        Input: MathML node.
        Output: ASCIIMath string.
        @function
        @param {MathMLNode} node - A MathML Node to be parsed.
      **/
      parseMathML(node) {
        //Set result as a blank string
        var result = "";
        //Get the child nodes of the current node
        var nodes = node.childNodes;
        //Get the tag name of the node
        var tagName = node.tagName;
        //If there are no child nodes then we are at a symbol, a number, operator or identifier.
        if (!nodes.length) {
          //If the node value is π then convert it to "pi"
          if (node.nodeValue == "π") result = "pi";
          //MathJax turns * into ∗ for rendering purposes, this converts it back to the normal asterisk.
          else if (node.nodeValue == "∗") result = "*"
          //MathJax turns - into − for rendering purposes, this converts it back to the normal subtract which is expected by the parser.
          else if (node.nodeValue == "−") result = "-"
          //Removes any blank space
          else if (node.nodeValue == " ") result = "";
          //Otherwise return the node value.
          else result = node.nodeValue;
        //If the tag is a fraction
        } else if (tagName == "mfrac") {
          //The result is the resolved numerator + '/' + the resolved denomenator
          result = "("+this.parseMathML(nodes[0])+")/("+this.parseMathML(nodes[1])+")";
        //If the tag is a superscript, i.e. a power then take bottom '^' top.
        } else if (tagName == "msup") {
          result = "("+this.parseMathML(nodes[0])+"^"+this.parseMathML(nodes[1])+")";
        //If the tagname is underover and the first node is a Sigma then we have a summation and should contruct the function to be passed to the parser/evaluator, sum(variable, start value, end value, function)
        } else if(tagName == "munderover" && this.parseMathML(nodes[0]) == "∑") {
          //Get the next node fromt he current node, this is the function of the summation.
          let sib = node.nextSibling
          result = "sum(" + this.parseMathML(nodes[1].childNodes[0]) + ", " + this.parseMathML(nodes[1].childNodes[2]) + ", " + this.parseMathML(nodes[2]) + ", "+ this.parseMathML(sib) + ")"
          sib.parentNode.removeChild(sib)
        //Otherwise then continue to resolve child nodes.
        } else for (var i = 0; i < nodes.length; ++i) {
          result += this.parseMathML(nodes[i]);
        }

        //If the tag is an identifier and has a sibling after it:
        if (tagName == "mi" && node.nextSibling !== null){
          //Check if the next sibling is an identifier or a sqrt or a summation and add a * to the result as this means that an implicit multiplation has been found. i.e. ac -> a*c
          if( (node.nextSibling.tagName == "mi" && node.parentNode.tagName !== 'msup') || node.nextSibling.tagName == "munderover" || node.nextSibling.tagName == "msqrt") result = result + "*"
        }
        //Save as above but with a number tag, i.e. 2a -> 2*a
        if (tagName == "mn" && node.nextSibling !== null){
          if( (node.nextSibling.tagName == "mi" && node.parentNode.tagName !== 'msup') || node.nextSibling.tagName == "munderover" || node.nextSibling.tagName == "msqrt") result = result + "*"
        }
        //If the fenced tag (brackets tag) is found, add brackets to the result.
        if (tagName == "mfenced") result = "("+result+")";
        //If the sqrt tag is found then add sqrt( + result + ) to identify the function.
        if (tagName == "msqrt") result = "sqrt("+result+")";
        //If the tag is sqrt and there is a next sibling
        if (tagName == "msqrt" && node.nextSibling !== null){
          //If the next sibling is munderover, mi or mn then we should add an implicit multiplation after the sqrt.
          if(((node.nextSibling.tagName == "mi" || node.nextSibling.tagName == "mn" ) && node.parentNode.tagName !== 'msup') || node.nextSibling.tagName == "munderover") result = result + "*"
        }
        //Same as above but with munderover.
        if(tagName == "munderover" && node.nextSibling !== null){
          if(((node.nextSibling.tagName == "mi" || node.nextSibling.tagName == "mn" ) && node.parentNode.tagName !== 'msup') || node.nextSibling.tagName == "msqrt") result = result + "*"
        }

        return result;
      },
      /**
        Converts the MathML string variable into a MathML object then runs the parseMathML function.
        @function
      **/
      stringifyMathML() {
        //Creates a DOMParser
        let parser = new DOMParser()
        //Parses the MathML string into an XML object.
        let xmlDoc = parser.parseFromString(this.mathml, "text/xml")
        //Runs parseMathML on the XML object.
        let eqn = this.parseMathML(xmlDoc.documentElement)

        let vars = this.convertVariablesToObject()

        let result = this.parseToJSON(eqn, vars)

        if(typeof result !== 'undefined'){
          this.answer = result.answer
          this.tree = JSON.stringify(result.tree, undefined, 2)
        } else {
          this.answer = null
          this.tree = null
        }
      },
      parseToJSON(code, vars){

        var evaluator

        try {
          if (typeof evaluator === 'undefined') {
            evaluator = new TapDigit.Evaluator();
          }

          evaluator.setVariables(vars)

          let result = evaluator.evaluate(code);

          return result

        } catch (e) {
          alert(e)
        }

      },
      addRow(){
        this.variables.push({
          name: '',
          value: ''
        })
      },
      deleteRow(index){
        this.variables.splice(index,1)
      },
      convertVariablesToObject(){
        let obj = {}

        this.variables.forEach((variable) => {
          obj[variable.name] = variable.value
        });

        return obj
      }
    }
  }
</script>
